/* Estilo para h1 con ID específico */
#titulo1 {
    font-size: 42px;
}

/* Estilo clase para h2 */
.subtitulo {
    font-size: 30px; /* Tamaño de fuente para h2 */
    color: purple; /* Cambia el color a purpura */
}

/* Estilo clase para h3 */ 
.otrosubtitulo {
    font-size: 25px; /* Tamaño de fuente para h3 */
    color: red;  /* Cambia el color a rojo */
}

/* Estilo para listas ol y ul */
ol, ul {
    font-size: 21px; /* Tamaño de fuente para las lista desordenada y desordenada */
    color: green; /* Color de las listas */
}

/* Estilo para párrafos p y enlaces a */
p, a {
    font-size: 21px; /* Tamaño de fuente para párrafos y enlaces */
    color: #4B0082; /* Color usando paleta */
}