<!DOCTYPE html>
<html lan="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="with=device-width,
    initial-scale=1.0">
    <title>Mbeyú</title>
 <head>
<body>
    <h1>MBEYU</h1>
    <p>A continuación, te muestro los ingredientes y pasos detallados de su preparacion:</p>
    <h2>Ingredientes</h2>
    <img width="500" height="200" src="C:\Users\Viviana\Desktop\Potrero Digital\Tarea1\Public\img\mbeyu.jpg" alt="imagen del mbeyu">
    <ul type="circle">
        <li>500 gr. De almidón de mandioca </li>
        <li>1 cucharadita de sal</li>
        <li>1 cucharada grande de manteca o aceite o grasa</li>
        <li>400 gr. De Queso Paraguay, podemos reemplazar por otros quesos</li> 
        <li>1/2 taza de leche</li>
        <li>OPCIONAL: reforzar con queso de relleno</li>
    </ul>    
    <h2>Preparación</h2>
    <iframe width="500" height="200" src="https://www.youtube.com/embed/uga2DGux0_I" title="Paraguay - Mbeju" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
        <ol>
        <li>Rallar el queso Paraguay.</li>
        <li>Mezclar los ingredientes secos en un bol grande. Colocar los 500 gr. de almidón de mandioca y añadir la cucharadita de sal.</li>
        <li>Incorporar la manteca (o el aceite o grasa que uses) a la mezcla de almidón, usando las manos.</li>
        <li>Agregar los 400 gr. de queso rallado. Seguir mezclando con las manos.</li> 
        <li>Incorporar poco a poco la leche y seguir mezclando.</li>
        <li>Tomar pequeñas porciones de la masa y aplanar con las manos para formar discos de unos 10 cm de diámetro y aprox. 1 cm de grosor.</li>
        <li>Colocar los discos de masa en la sartén y cocinar por unos 2-3 minutos por cada lado.</li>
        <li>Servir el mbeyu caliente, idealmente acompañado de un buen mate cocido quemado.</li>
        </ol>
 </body>
